<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.postgresql">
    <!--
        Load with wildfly-cli command:
        /subsystem=datasources/jdbc-driver=${datasource.driver.id}:add(driver-name=postgresql, driver-class-name=${datasource.driver.class}, driver-module-name=${datasource.driver.module})
    -->
    <resources>
        <resource-root path="${datasource.module.resource}"/>
    </resources>
    <dependencies>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>
    </dependencies>
</module>
